<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Service</title>
    <link rel="stylesheet" href="/stylee.css"/> <!-- Use a leading slash for root path -->
</head>
<body>
    <h2>Edit Your Service</h2>
    <form method="POST" action="/services/<%= service._id %>?_method=PUT">
        <label for="serviceName">Service:</label>
        <input type="text" id="serviceName" name="serviceName" value="<%= service.serviceName %>" required>

        <label for="description">Name:</label>
        <input type="text" id="description" name="description" value="<%= service.description %>" required>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" value="<%= service.price %>" required>

        <button type="submit">Update Health Record</button>
    </form>
</body>
</html>
